#vim temp files
*~
*.swp
*.swo
#end vim temp

*.class

# Package Files #
*.jar
*.war
*.ear
backend/.idea

# Frontend #
frontend/.idea
frontend/logs/*
frontend/!.gitkeep
frontend/node_modules/
frontend/bower_components/
frontend/tmp
frontend/.DS_Store


