#vim temp files
*~
*.swp
*.swo
#end vim temp

*.class

# Package Files #
*.jar
*.war
*.ear
backend/.idea/.name
backend/.idea/compiler.xml
backend/.idea/copyright/profiles_settings.xml
backend/.idea/encodings.xml
backend/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
backend/.idea/libraries/Maven__com_google_guava_guava_16_0_1.xml
backend/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
backend/.idea/libraries/Maven__junit_junit_4_11.xml
backend/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
backend/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
backend/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_2.xml
backend/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_2.xml
backend/.idea/libraries/Maven__org_springframework_spring_aop_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_beans_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_context_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_core_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_expression_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_test_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_web_3_2_0_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_0_RELEASE.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/scopes/scope_settings.xml
backend/.idea/vcs.xml
backend/.idea/workspace.xml
backend/PCoursework.iml
backend/target/classes/spring-config.xml
backend/.idea/libraries/Maven__org_mongodb_mongo_java_driver_2_11_4.xml
backend/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_6.xml
backend/.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_7_1_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_1_4_1_RELEASE.xml
backend/.idea/libraries/Maven__org_springframework_spring_tx_3_2_8_RELEASE.xml
backend/.idea/uiDesigner.xml

# Frontend #
frontend/.idea
frontend/logs/*
frontend/!.gitkeep
frontend/node_modules/
frontend/bower_components/
frontend/tmp
frontend/.DS_Store


